<!DOCTYPE html>
<html>
<body>

<h1>The progress element</h1>

<label for="file">Downloading progress:</label>
<progress id="progresBar" value="0" max="100"></progress>
<script type="text/javascript">

bar = document.getElementById("progresBar")

function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

async function demo() {
    for (let i = 0; i < 5; i++) {
        await sleep(500);
        bar.value = bar.value + 20
    }
    console.log('Done');
}

demo();

</script>
</body>
</html>
